.striped-border-top {
    border: 20px solid rgba(255, 255, 0, .8);
    border-width: 30px 0 0 0;
    border-image: repeating-linear-gradient(-135deg, #25275b 30px, #25275b 40px, rgba(255, 255, 0, .8) 40px, rgba(255, 255, 0, .8) 50px) 30 0 0 0;
}

.striped-border-bottom {
    border: 20px solid rgba(255, 255, 0, .8);
    border-width: 0 0 30px 0;
    border-image: repeating-linear-gradient(-135deg, #25275b 30px, #25275b 40px, rgba(255, 255, 0, .8) 40px, rgba(255, 255, 0, .8) 50px) 0 0 30 0;
}

/* HERO */

.logo-img {
    width: 100%;
}

.content {
    padding: 2em;
    background-color: #25265c;
}

.menu {
    padding: 6px;
    text-align: center;
}

.menu-button {
    border-radius: 0;
    border: white solid 2px;
    width: 49%;
    min-width: 135px;
    color: #25275b;
    background-color: #cce30e;
    border-color: #ffffff;
    padding: 0;
}

/* BANNER */

.banner {
    text-align: center;
    background-color: #cce30e;
    color: #25275b;
}

.banner-img {
    height: 10em;
}

/* Larger than phablet */
@media (min-width: 550px) {
    .banner-img {
        height: 23em;
    }
}

.chainsaw {
    background: url('../img/chainsaw.jpg') no-repeat center center;
    background-size: cover;
}

.cut {
    background: url('../img/cut.jpg') no-repeat center center;
    background-size: cover;
}

.banner-items {}

.banner h3 {
    padding-top: 13%;
    font-weight: bold;
    text-transform: uppercase;
}

/* DETAIL */

.detail {
    background-color: #74a55b;
}

.infobox {
    margin: 1em;
    padding: 2em;
    border-radius: 5px;
}

.about {
    background-color: #25265c;
    color: white;
}

.about h5 {
    font-weight: bold;
}

.sales {
    background-color: #ffffff40;
}

.sales h5 {
    color: #25265c;
    font-weight: bold;
}

.services {
    background-color: #ffffff40;
}

.services h5 {
    color: #25265c;
    font-weight: bold;
}

.other {
    margin: 0;
    color: #f0f1e7;
    text-shadow: 0px 1px #00000040;
    text-align: center;
}

/* CONTACT */
.contact {
    background-color: #25265c;
    color: #f0f1e7;
}

.address {
    background-color: #a51f1f;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    margin: 0.5em;
}

.section-header {
    margin-left: 1em;
}

.map {
    margin: 0.5em;
}

/* UTIL */

.center-text {
    text-align: center;
    width: 100%
}
